{% extends 'Msports\BlogBundle:Frontend/Blog:index.html.twig' %}



{% block main %}
	<div class="col-xs-12" style="padding-top : 5px;">
		{% if pagination | length == 1 %}
			<h1 style="color:#0a4541 !important;font-family:'Black Ops One'; font-size:2.3em; float:left; margin-top:40px; padding:50px auto;">
				{{ pagination[0] }}
			</h1>
			<div class="col-xs-4 col-xs-push-8">
				{% media pagination[0].excerptPhoto, 'excerpt' with { 'class':'img-responsive img-blog'} %}
			</div>
		{% elseif  pagination|length < 1 %}
			<h1 style="color:#0a4541 !important;font-family:'Black Ops One'; font-size:2.7em; float:left; margin-top:40px; padding:50px auto;">Cette Catégorie n'a pa d'evenement</h1>
		{% endif %}
	</div>
	{% if  pagination|length > 1 %}
		{% for item in pagination %}
			<a href="{{ path('ed_blog_classement', {'categorySlug': item.getCategory().term.slug, 'eventName': item.getName}) }}">
				{% media item.excerptPhoto, 'excerpt' with { 'class':'img-responsive img-blog' } %}
			</a>
		{% endfor %}
	{% elseif  pagination|length == 1 %}
		{%set item=pagination[0]%}
		<div class="col-xs-12">
			<h1 style="color:#0a4541 ;font-family:'Black Ops One'; font-size:2.7em; float:left; margin-top:150px; margin-bottom:60px; padding:50px auto;">Classement Pilotes
			</h1>
		</div>
		<div class="col-xs-12" style"margin: 0; padding: 0;">
			<table cellspacing="0" cellpadding="1" border="0" width="80%" class="table  table-bordered" style="font-size: 0.8em;">
				<colgroup>			
					<col width="1%">	
				 	<col width="10%">	
				 	<col width="5%">
				 	<col width="1%">
				 	<col width="1%">
				 	<col width="1%">
				 	<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
				</colgroup>
				<thead>		
					<tr>
						<td colspan="3" class="br"></td>
						{% for gp in item.getChildren %}
							<td class="tc bt altv" style="padding:0 0 0 0;width: 15px;">
								<a href="">
									<div class="rotated-text">
										<span class="rotated-text__inner" style="color:#0a4541 !important; font-weight: bold;">
											{{gp.name}}
										</span>
									</div>
								</a>
							</td>
						{% endfor %} 
					</tr>		
					<tr class="bl br">
						<th colspan="2" style="background:#0b4242;color:#FFF; text-align:center;">Pilotes</th>
						<th class="tc" nowrap style="background:#0b4242;color:#FFF; text-align:center;">Tot.</th>
						{% for gp in item.getChildren %}
							<th class="tc" style="background:#0b4242; padding:0;">
								<img alt="" class="" src="{% path gp.excerptPhoto, 'small' %}">
							</th>
						{% endfor %} 			
					</tr>
				</thead>
				<tbody>
					{% for rank in item.getPilots %}
						<tr class="alt">
							<td class="tr bl text-center" nowrap style="color:#FFF;"><b>{{ loop.index  }}</b></td>
							<td nowrap style="color:#FFF; text-align:center;">
								<a href="" style="color:#FFF !important;">{{ rank.getPilot }}</a>
							</td>
							<td class="tc classAuto text-center" style="color:#FFF;" >
								<b>{{rank.getPoints}}</b>
							</td>
							{% for gp in item.getChildren %}
			 					<td class="tc">
			 						{% set class = gp.getPilotClass(rank.getPilot().getFullName) %}
			 						{% if class %}
			 							{{ class.getPoints }}
			 						{% endif %}
			 					</td>
			 				{% endfor %}
						</tr>
					{% endfor %} 			
				</tbody>	
			</table>
		</div>

		<div class="col-xs-12">
			<h1 style="color:#0a4541 ;font-family:'Black Ops One'; font-size:2.7em; float:left; margin-top:150px; margin-bottom:60px; padding:50px auto;">Classement Equipes
			</h1>
		</div>
		<div class="col-xs-12" style"margin: 0; padding: 0;">
			<table cellspacing="0" cellpadding="1" border="0" width="80%" class="table  table-bordered" style="font-size: 0.8em;">
				<colgroup>			
					<col width="1%">	
					<col width="10%">	
					<col width="5%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
					<col width="1%">
				</colgroup>
				<thead>	
					<tr >
						<td colspan="3" class="br"></td>
						{% for gp in item.getChildren %}
							<td class="tc bt altv" style="padding:0 0 0 0;width: 15px;">
								<a href="">
									<div class="rotated-text">
										<span class="rotated-text__inner" style="color:#0a4541 !important; font-weight: bold;">
											{{gp.name}}
										</span>
									</div>
								</a>
							</td>
						{% endfor %} 
					</tr>		
					<tr class="bl br">
						<th colspan="2" style="background:#0b4242;color:#FFF; text-align:center;">Equipes</th>
						<th class="tc" nowrap style="background:#0b4242;color:#FFF; text-align:center;">Tot.</th>
						{% for gp in item.getChildren %}
							<th class="tc" style="background:#0b4242; padding:0;">
								<img alt="" class="" src="{% path gp.excerptPhoto, 'small' %}">
							</th>
						{% endfor %} 			
					</tr>
				</thead>
				<tbody>
					{% for rank in item.getTeamsClass %}
						{% set pilot = rank.getPilot() %}
				        {% if  pilot %}
					       	{% set team = pilot.getTeam %}
							<tr class="alt">
								<td class="tr bl text-center" nowrap style="color:#FFF;"><b>{{ loop.index  }}</b>
								</td>
								<td nowrap class="text-center">
									<a href="" style="color:#FFF !important;">{{ team }}</a>
								</td>
								<td class="tc classAuto">
									<b style="color:#FFF !important;">{{rank.getPoints}}</b>
								</td>
								{% for gp in item.getChildren %}
									{% set c = 0 %}
									{% for pilot in team %}
										{% set class = gp.getPilotClass(pilot.getFullName) %}
										{% if class %}
											{% set c = c + class.getPoints %}
										{% endif %}
									{% endfor %}
									<td class="tc" style="color:#FFF;">
										<b>{{ c }}<b>
									</td>
								{% endfor %}
							</tr>
						{% endif %} 			
					{% endfor %} 			
				</tbody>	
			</table>
		</div>
		
	{% endif %}
		
{% endblock main %}

      