{% extends "EDBlogBundle:Frontend/Blog:index.html.twig" %}

{% block main %}

   <div class="col-xs-12 col-md-3 col-lg-3">
          <div class="col-xs-12">
            <h1 style="font-family:'Black Ops One'; font-size:1.1em; color:#000"> ARTICLES DU MEME AUTEUR </h1>
          </div> 
          <div class="col-xs-12 semi-transparent-round">  
          {{ render(controller('EDBlogBundle:Frontend/Blog:byAuthorBar', {'user': article.author})) }}
          </div>  
      </div>
      <div class="box box-solid col-xs-12 col-md-9" style="padding: 0 0 0 0 !important;">
        <div class="box-body">
          <div class="item">
            
            <img class="img-responsive img-blog msports_article_photo" src="{% path article.excerptPhoto, 'excerpt' %}" alt="">

            <h1 style="font-family:'Black Ops One'; font-size:2em; color:#000">{{ article.title|capitalize }}</h1>

          <p class="text--mini app-grey">Par <a href="{{ path('ed_frontend_blog_by_author', {'username': article.author.username}) }}">{{ article.author.blogDisplayName }}</a> le {{ article.publishedAt|blogDate}}
            {% if (article.categories|length) %}
            in {%  for category in article.categories %}
                 {{ loop.index0 ? ', ' }}<a href="{{ path('ed_frontend_blog_by_category', {'categorySlug': category.term.slug}) }}" >{{ category.term.title }}</a>
               {% endfor %}
            {% endif %}
            {% if ( is_granted('ACCESS_COMMENTS') and commentsCnt) %}
              | <a href="#comments">{{  commentsCnt }}</a> comment{{  (commentsCnt > 1) ? 's' }}
            {% endif  %}
          </p>

          {% if (article.tags|length) %}
            <p class="text--mini app-grey"><i class="fa fa-tags"></i>
            {% for tag in article.tags %}
              <a href="{{ path('ed_frontend_blog_by_tag', {'tagSlug': tag.term.slug}) }}">{{ tag.term.title }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
          {% endif  %}

          <p>{{ article.content|raw }}</p>
          
        </div>
      </div>
    </div>
{% endblock main %}

