<section id="top">
    <div class="trunk">
      <div id="social-count" class="fr">
        <ul>
          {% if app.user and app.user.hasRole('ROLE_USER') %}
            <li class="a" data-link='{{  url('sonata_admin_dashboard') }}'>
              <a class="white" href="{{  url('sonata_admin_dashboard') }}">
              Panel Admin</a>
            </li>
            <li class="a" data-link='{{ path('fos_user_security_logout') }}'>
              <a class="white" href="{{ path('fos_user_security_logout') }}">
              deconecter</a>
            </li>
          {% else %}
            <li class="a" data-link='{{ path('fos_user_security_login') }}'>
              <a class="white" href="{{ path('fos_user_security_login') }}">
              Se connecter</a>
            </li>
          {% endif %}
          <li class="a" data-link='{"url":"aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1Nwb3J0cy5mci8/ZnJlZj10cw==", "target": "_blank"}'>Facebook</li>
          <li class="a" data-link='{"url":"aHR0cHM6Ly90d2l0dGVyLmNvbS9zcG9ydHNfZnI=", "target": "_blank"}'>Twitter</li><!--
          <li class="a" data-link='{"url":"aHR0cHM6Ly9wbHVzLmdvb2dsZS5jb20vK3Nwb3J0c2Zy", "target": "_blank"}'>Google+</li>
        </ul>           
      </div>
      
    </div><!-- #top .trunk -->
</section><!-- #top -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('ed_blog_homepage')}}"><img src="/bundles/blog/img/logo.jpg"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li><a href="{{ path('ed_blog_homepage')}}">ACCUEIL</a></li>
      	 {%block navbar%}
            {{ render(controller('BlogBundle:Frontend/Navbar:categoryList')) }}
          {%endblock%}
      </ul>
    </div>
  </div>
</div>
  
