{% extends 'BlogBundle:Layout:blog_admin_main.html.twig' %}
{% form_theme form '@Blog/Global/forms.html.twig' %}

{% block content %}
    <div class="dashboard-content">
        <h1 class="text--bold margin--halft margin--b">Import new blog user</h1>

        <form action="{{ path('ed_blog_user_add') }}" method="post">
            {{ form_errors(form) }}
            <div>
                {{ form_label(form.blogDisplayName) }}
                {{ form_widget(form.blogDisplayName) }}
                {{ form_errors(form.blogDisplayName) }}
            </div>
            <div>
                {{ form_label(form.role) }}
                {{ form_widget(form.role) }}
                {{ form_errors(form.role) }}
            </div>
            <div>
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>
            <div>
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div>
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock content %}

