{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
	{{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
		<div class="col-md-12" style="padding-top : 5px;">
			<div syle="position:relative">
				<article id="main-content" style="position: relative">
					<div>
						<h1 style="font-family:'Black Ops One'; font-size:2.7em; float:left; margin-top:40px; padding:50px auto;">Calendrier
							{% for item in pagination %}	
								{{ item }}
							{% endfor %}
						</h1>
						{% if pagination|length == 0 %}
							<h1>	
								Pas d'evenement à afficher
							</h1>
						{% elseif  pagination|length == 1 %}
							{% set item = pagination[0] %}
							{% media item.excerptPhoto, 'excerpt' with {'class': 'nwLogo', 'style':'height:140px;width:190px;'} %} 
							
							<table border="0" cellpadding="1" cellspacing="0" width="100%" class="table-striped"> 
								<colgroup> 
									<col width="10%"> 
									<col width="28%"> 
									<col width="19%"> 
									<col width="20%"> 
									<col width="15%"> 
								</colgroup> 
								<thead> 
									<tr> 
										<th colspan="5" class="tl" style="background:#0b4242; color:#FFF; text-align:center; font-size:1.2em;">Calendrier {{item}}</th> 
									</tr> 
								</thead> 
								<tbody> 
									<tr>
										<th style="background:#206e6c; color:#FFF; text-align:center;">Date</th>
										<th style="background:#439fa1; color:#FFF; text-align:center;">Grand prix</th>
										<th style="background:#206e6c; color:#FFF; text-align:center;">Pays</th>
										<th style="background:#439fa1; color:#FFF; text-align:center;">Ville</th>
										<th style="background:#206e6c; color:#FFF; text-align:center;">Résultat</th>
									</tr>
									{% for gp in item.getChildren() %}
										<tr class="">
											<td style="text-align:center; color:#FFF; font-size:1.1em;">Du <span data-time="1458264600" class="utc">{{ gp.getStartsAt|date("d/m") }}
												</span> au <span data-time="1458450000" class="utc">{{ gp.getEndsAt|date("d/m") }}</span>
											</td>
											<td>
												<strong>
													<a class="texteGras text-center" href="" style="color:#FFF !important; font-size:1.1em;"> {{ gp.getName }} </a>
												</strong>
											</td>
											<td>
												{% media gp.countryPhoto, 'excerpt' with {'class': ' ', 'style':'height:40px; width:40%; margin-left:30%;'} %}
											</td>
											<td>
												<a href="" style="color:#FFF !important; font-size:1.1em; text-align:center;">{{ gp.getTown }}</a>
											</td>
											<td>
												<a style="width:30%; margin:0 auto;" href="{{ path('ed_blog_gp', { 'eventName': gp.getName }) }}"><img src="/bundles/blog/img/oeil.png" style="height:25px;"></a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% endif %}

					</div>
				</article><!-- main-content -->
			</div>
		</div>
    {% endblock container %}
{% endblock main %}

{% block foot %}
	{{ parent()}}
{% endblock foot %}


