{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
	{{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
		<div class="col-md-12" style="padding-top : 5px; overflow-x:auto;">
			<article id="main-content" >
				<div class="table-striped">
					<h1 style="font-family:'Black Ops One'; font-size:2.7em; float:left; margin-top:40px; padding:50px auto;">Classement Pilotes 
						 {% if pagination | length == 1 %}
						 		{{ pagination[0] }}
						 {% endif %}
					</h1>
					{% if  pagination|length < 1 %}
						<h1 style="font-family:'Black Ops One'; font-size:2.7em; float:left; margin-top:40px; padding:50px auto;">Cette Catégorie n'a pa d'evenement</h1>
					{% elseif  pagination|length > 1 %}
						{% for item in pagination %}
							<a href="{{ path('ed_blog_classement', {'categorySlug': item.getCategory().term.slug, 'eventName': item.getName}) }}">
						 		{% media item.excerptPhoto, 'excerpt' with { 'class':'', 'style':'height:140px;width:190px;' } %}
						 	</a>
					 	{% endfor %}
					{% else %}
							{%set item=pagination[0]%}
						 	{% media item.excerptPhoto, 'excerpt' with { 'class':'nwLogo', 'style':'height:140px;width:190px;'} %}
								<table cellspacing="0" cellpadding="1" border="0" width="100%" class="table nwGrandPrix" >
									<colgroup>			
										<col width="1%">	
									 	<col width="50%">	
									 	<col width="5%">
									 	<col width="2%">
									 	<col width="2%">
									 	<col width="2%">
									 	<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
						 			</colgroup>
									<thead>		
										<tr>
											<td colspan="3" class="br"></td>
								 			{% for gp in item.getChildren %}
												<td class="tc bt altv" style="padding:0 1.4em;">
													<a href="">
														<div class="rotated-text">
															<span class="rotated-text__inner">
																{{gp.name}}
															</span>
														</div>
													</a>
												</td>
											{% endfor %} 
										</tr>		
										<tr class="bl br">
											<th colspan="2" style="background:#0b4242;color:#FFF; text-align:center;">Pilotes</th>
											<th class="tc" nowrap style="background:#0b4242;color:#FFF; text-align:center;">Tot.</th>
								 			{% for gp in item.getChildren %}
												<th class="tc" style="background:#0b4242;">
													<img alt="" class="" src="{% path gp.excerptPhoto, 'small' %}">
												</th>
											{% endfor %} 			
										</tr>
									</thead>
									<tbody>
								 		{% for rank in item.getPilots %}
											<tr class="alt">
												<td nowrap class="tr bl" style="padding:0 2em; color:#FFF;"><b>{{rank.rank}}</b></td>
												<td nowrap style="color:#FFF; text-align:center;">
													<a href="" style="color:#FFF !important;">{{ rank.getPilot }}</a>
												</td>
												<td class="tc classAuto text-center" style="color:#FFF;" ><b>{{rank.getPoints}}</b></td>
								 				{% for gp in item.getChildren %}
								 					<td class="tc">
								 						{% set class = gp.getPilotClass(rank.getPilot().getFullName) %}
								 						{% if class %}
								 							{{ class.getPoints }}
								 						{% endif %}
								 					</td>
								 				{% endfor %}
											</tr>
										{% endfor %} 			
									</tbody>	
								</table>

								<h1 style="font-family:'Black Ops One'; font-size:2.7em; float:left; margin-top:150px; margin-bottom:60px; padding:50px auto;">Classement Equipes 
								 	{% if pagination | length == 1 %}
								 		{{ pagination[0] }}
									 {% endif %}
								</h1>
								<table cellspacing="0" cellpadding="1" border="0" width="100%" class="nwGrandPrix" class="table-striped">
									<colgroup>			
										<col width="1%">	
									 	<col width="54%">	
									 	<col width="5%">
									 	<col width="2%">
									 	<col width="2%">
									 	<col width="2%">
									 	<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
						 			</colgroup>
									<thead>		
										<tr>
											<td colspan="3" class="br"></td>
								 			{% for gp in item.getChildren %}
												<td class="tc bt altv" style="padding:0 1.4em;">
													<a href="">
														<div class="rotated-text">
															<span class="rotated-text__inner">
																{{gp.name}}
															</span>
														</div>
													</a>
												</td>
											{% endfor %} 
										</tr>		
										<tr class="bl br">
											<th colspan="2" style="background:#0b4242;color:#FFF; text-align:center;">Equipes</th>
											<th class="tc" nowrap style="background:#0b4242;color:#FFF; text-align:center;">Tot.</th>
								 			{% for gp in item.getChildren %}
												<th class="tc" style="background:#0b4242;">
													<img alt="" class="" src="{% path gp.excerptPhoto, 'small' %}">
												</th>
											{% endfor %} 			
										</tr>
									</thead>
									<tbody>
								 		{% for rank in item.getTeamsClass %}
								 			{% set pilot = rank.getPilot() %}
						                    {% if  pilot %}
						                    	{% set team = pilot.getTeam %}
												<tr class="alt">
													<td class="tr bl text-center" nowrap style="color:#FFF;"><b>{{ loop.index  }}</b></td>
													<td nowrap class="text-center">
														<a href="" style="color:#FFF !important;">{{ team }}</a>
													</td>
													<td class="tc classAuto"><b style="color:#FFF !important;">{{rank.getPoints}}</b></td>
									 				{% for gp in item.getChildren %}
									 					{% set c = 0 %}
									 					{% for pilot in team %}
									 						{% set class = gp.getPilotClass(pilot.getFullName) %}
									 						{% if class %}
									 							{% set c = c + class.getPoints %}
									 						{% endif %}
									 					{% endfor %}
									 					<td class="tc" style="color:#FFF;">
									 						{{ c }}
									 					</td>
									 				{% endfor %}
												</tr>
											{% endif %} 			
										{% endfor %} 			
									</tbody>	
								</table>
					{% endif %}
				</div>
			</article><!-- main-content -->
		</div>
    {% endblock container %}
{% endblock main %}