{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
	{{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
		<div class="col-md-12" style="padding-top : 5px;">
			<article id="main-content" style="position: relative;">
				<div class="nwTable">
					<h1>Classement Pilotes 
						 {% if pagination | length == 1 %}
						 		{{ pagination[0] }}
						 {% endif %}
					</h1>
					{% if  pagination|length < 1 %}
						<h1>Cette Catégorie n'a pa d'evenement</h1>
					{% elseif  pagination|length > 1 %}
						{% for item in pagination %}
							<a href="{{ path('ed_blog_classement', {'categorySlug': item.getCategory().term.slug, 'eventName': item.getName}) }}">
						 		{% media item.excerptPhoto, 'excerpt' with { 'class':'nwLogo', 'style':'height:140px;width:190px;' } %}
						 	</a>
					 	{% endfor %}
					{% else %}
							{%set item=pagination[0]%}
						 	{% media item.excerptPhoto, 'excerpt' with { 'class':'nwLogo', 'style':'height:140px;width:190px;'} %}
								<table cellspacing="0" cellpadding="1" border="0" width="100%" class="nwGrandPrix">
									<colgroup>			
										<col width="1%">	
									 	<col width="54%">	
									 	<col width="5%">
									 	<col width="2%">
									 	<col width="2%">
									 	<col width="2%">
									 	<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
						 			</colgroup>
									<thead>		
										<tr>
											<td colspan="3" class="br"></td>
								 			{% for gp in item.getChildren %}
												<td class="tc bt altv">
													<a href="">
														<div class="rotated-text">
															<span class="rotated-text__inner">
																{{gp.name}}
															</span>
														</div>
													</a>
												</td>
											{% endfor %} 
										</tr>		
										<tr class="bl br">
											<th colspan="2">Pilotes</th>
											<th class="tc">Tot.</th>
								 			{% for gp in item.getChildren %}
												<th class="tc">
													<img alt="" class="" src="{% path gp.excerptPhoto, 'small' %}">
												</th>
											{% endfor %} 			
										</tr>
									</thead>
									<tbody>
								 		{% for rank in item.getPilots %}
											<tr class="alt">
												<td class="tr bl"><b>{{rank.rank}}</b></td>
												<td nowrap="">
													<a href="">{{ rank.getPilot }}</a>
												</td>
												<td class="tc classAuto"><b>{{rank.getPoints}}</b></td>
								 				{% for gp in item.getChildren %}
								 					<td class="tc">
								 						{% set class = gp.getPilotClass(rank.getPilot().getFullName) %}
								 						{% if class %}
								 							{{ class.getPoints }}
								 						{% endif %}
								 					</td>
								 				{% endfor %}
											</tr>
										{% endfor %} 			
									</tbody>	
								</table>

								<h1>Classement Equipes 
								 	{% if pagination | length == 1 %}
								 		{{ pagination[0] }}
									 {% endif %}
								</h1>
								<table cellspacing="0" cellpadding="1" border="0" width="100%" class="nwGrandPrix">
									<colgroup>			
										<col width="1%">	
									 	<col width="54%">	
									 	<col width="5%">
									 	<col width="2%">
									 	<col width="2%">
									 	<col width="2%">
									 	<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
								 		<col width="2%">
						 			</colgroup>
									<thead>		
										<tr>
											<td colspan="3" class="br"></td>
								 			{% for gp in item.getChildren %}
												<td class="tc bt altv">
													<a href="">
														<div class="rotated-text">
															<span class="rotated-text__inner">
																{{gp.name}}
															</span>
														</div>
													</a>
												</td>
											{% endfor %} 
										</tr>		
										<tr class="bl br">
											<th colspan="2">Equipes</th>
											<th class="tc">Tot.</th>
								 			{% for gp in item.getChildren %}
												<th class="tc">
													<img alt="" class="" src="{% path gp.excerptPhoto, 'small' %}">
												</th>
											{% endfor %} 			
										</tr>
									</thead>
									<tbody>
								 		{% for rank in item.getTeamsClass %}
								 			{% set pilot = rank.getPilot() %}
						                    {% if  pilot %}
						                    	{% set team = pilot.getTeam %}
												<tr class="alt">
													<td class="tr bl"><b>{{ loop.index  }}</b></td>
													<td nowrap="">
														<a href="">{{ team }}</a>
													</td>
													<td class="tc classAuto"><b>{{rank.getPoints}}</b></td>
									 				{% for gp in item.getChildren %}
									 					{% set c = 0 %}
									 					{% for pilot in team %}
									 						{% set class = gp.getPilotClass(pilot.getFullName) %}
									 						{% if class %}
									 							{% set c = c + class.getPoints %}
									 						{% endif %}
									 					{% endfor %}
									 					<td class="tc">
									 						{{ c }}
									 					</td>
									 				{% endfor %}
												</tr>
											{% endif %} 			
										{% endfor %} 			
									</tbody>	
								</table>
					{% endif %}
				</div>
			</article><!-- main-content -->
		</div>
    {% endblock container %}
{% endblock main %}
