  
{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
  {{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
      <div class="col-md-12">
        <article id="main-content">
          <div class="nwTable col-md-12">
            <h1>
              <p>
                {{event}}
              </p>
            </h1>
            {% media event.excerptPhoto, 'excerpt' with {'class': 'nwLogo', 'style':'height:140px;width:190px;'} %}
          </div>
          {% if event.article %}
            <div class=" col-md-12" style="margin-top: 15px;">
              {% media event.article.excerptPhoto, 'excerpt' with {'class':'col-md-12', 'style': 'width:100%; height: 400px; padding: 0 0 0 0;  margin : 0 0 0 0;'} %}
              <div class="text--30 text--bold black margin--tx4 margin--halfb lh32">
                <h1>{{ event.article.title|capitalize }}</h1>
              </div>
              <p class="text--mini app-grey">Publié le 
                <a href="{{ path('ed_frontend_blog_by_author', {'username': event.article.author.username}) }}">{{ event.article.author.blogDisplayName }}</a> le {{ event.article.publishedAt|blogDate}}
                  {% if (event.article.categories|length) %} in 
                    {%  for category in event.article.categories %}
                      {{ loop.index0 ? ', ' }}<a href="{{ path('ed_frontend_blog_by_category', {'categorySlug': category.term.slug}) }}" >{{ category.term.title }}</a>
                    {% endfor %}
                  {% endif %}
                  {% if ( is_granted('ACCESS_COMMENTS') and commentsCnt) %}
                    | <a href="#comments">{{  commentsCnt }}</a> comment{{  (commentsCnt > 1) ? 's' }}
                  {% endif  %}
                </p>
                <p>{{ event.article.content|raw }}</p>
            </div>
          {% endif %}
          <div class="col-md-6" style="margin-top: 15px;">
            <h1>
              <p>
                Commentaires en direct
              </p>
            </h1>
            <div class="tab-content col-md-12">
              <div id="menu1" class="tab-pane fade">
                {% for comment in event.getComments %}
                  <div class="col-md-10">
                    {{ comment.comment }}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 15px;">
            <h1>
              <p>
                Classement en direct
              </p>
            </h1>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Rang</th>
                  <th>Pilote</th>
                  <th>Q1</th>
                  <th>Q2</th>
                  <th>Q3</th>
                </tr>
              </thead>
              <tbody>
                  {% for rank in event.getPilots()%}
                    <tr class="alt">
                      <td class="tr bl"><b>{{rank.rank}}</b></td>
                      <td nowrap="">
                        {{ rank.getPilot}}
                      </td>
                      <td class="tc classAuto">
                        <b>
                          {{ pilot.getTime }}
                        </b>
                      </td>
                      <td class="tc classAuto">
                        <b>
                          {{ pilot.getTime1 }}
                        </b>
                      </td>
                      <td class="tc classAuto">
                        <b>
                          {{ pilot.getTime2 }}
                        </b>
                      </td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>                  
          </div>
        </article>
      </div>
      
    {% endblock container %}
{% endblock main %}






  