  
{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
  {{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
      <div class="col-md-9">
        <article id="main-content">
          <div class="nwTable col-md-12">
          </div>
          {% if event.article %}
            <div class=" col-md-12" style="margin-top: 15px;">
              {% media event.article.excerptPhoto, 'excerpt' with {'class':'col-md-12', 'style': 'width:100%; height: 400px; padding: 0 0 0 0;  margin : 0 0 15px 0;'} %}

              <h1 style="font-family:'Black Ops One'; font-size:2em;">{{ event.article.title|capitalize }}</h1>

                <p class="text--mini app-grey">Publié le 
                  <a href="{{ path('ed_frontend_blog_by_author', {'username': event.article.author.username}) }}">{{ event.article.author.blogDisplayName }}</a> le {{ event.article.publishedAt|blogDate}}
                  {% if (event.article.categories|length) %} in 
                    {%  for category in event.article.categories %}
                      {{ loop.index0 ? ', ' }}<a href="{{ path('ed_frontend_blog_by_category', {'categorySlug': category.term.slug}) }}" >{{ category.term.title }}</a>
                    {% endfor %}
                  {% endif %}
                  {% if ( is_granted('ACCESS_COMMENTS') and commentsCnt) %}
                    | <a href="#comments">{{  commentsCnt }}</a> comment{{  (commentsCnt > 1) ? 's' }}
                  {% endif  %}
                </p>
                {% if (event.article.tags|length) %}
                  <p class="text--mini app-grey"><i class="fa fa-tags"></i>
                    {% for tag in event.article.tags %}
                      <a href="{{ path('ed_frontend_blog_by_tag', {'tagSlug': tag.term.slug}) }}">{{ tag.term.title }}
                      </a>
                      {% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </p>
                {% endif  %}
                <p>{{ event.article.content | raw }}</p>
            </div>
          {% endif %}
          <div class=" col-md-12" style="margin-top: 15px;">
            <div class="nwTable ">
              <h1 style="font-family:'Black Ops One';">
                <p>
                  Classement Pilote {{event.getName}} {{event.getParent.getName}}
              
                </p>
              </h1>
            </div>
            <table class="table-striped table-bordered">
              <thead>
                <tr>
                  <th style="background: #0b4242; color:#FFF; text-align:center;">Pilote</th>
                  <th style="background: #0b4242; color:#FFF; text-align:center;">Equipe</th>
                  <th style="background: #0b4242; color:#FFF; text-align:center;">Temps</th>
                  <th style="background: #0b4242; color:#FFF; text-align:center;">N° tours</th>
                </tr>
              </thead>
              <tbody>
                {% for rank in event.getClassements() %}
                  <tr>
                    {% set pilot = rank.getPilot() %}
                      {% if  pilot %}
                      <td style="color:#FFF; text-align:center;">{{ pilot }}</td>
                      <td style="color:#FFF; text-align:center;">{{ pilot.getTeam }}</td>
                      <td style="color:#FFF; text-align:center;">{{ rank.time | date("h:i,s")}}</td>
                      <td style="color:#FFF; text-align:center;">{{ rank.getTours() }}</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </article>
      </div>    
    {% endblock container %}
    <div class="col-md-3" style="padding: 0 0 0 0; margin-top: 5px;" >
        <div class="col-md-12" style="padding: 0 0 0 0; margin: 0 0 0 0;">
          <h1 style=" text-align:center;color:black;"> ARTICLES DU MEME AUTEUR </h1>
        </div> 
        <div class="col-md-12 semi-transparent-round" style="padding: 0 0 0 0; margin: 0 0 0 0; height: auto; width:100%;">  
          {{ render(controller('BlogBundle:Frontend/Blog:byAuthorBar', {'user': event.article.author})) }}
        </div>  
    </div>
{% endblock main %}






  