{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
	{{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}

    	<div class="col-md-12" style="padding-top : 5px;">
			<div class="nwTable col-md-6">					
				<h1>
					<p style="font-family:'Black Ops One';">Pilotes 
						{% if (criteria is defined) %}
						    {% if (criteria.type == 'category') %}
						        {%  set categories = categoriesFromFirstLevel(criteria.value)  %}
						        {{ criteria.value.Term.title}}
						    {% elseif (criteria.type == 'tag') %}
						        {{ criteria.type }}: {{ criteria.value.Term.title}}
						    {% elseif (criteria.type == 'author') %}
						        {{ criteria.type }}: {{ criteria.value.blogDisplayName}}
						    {% elseif (criteria.type == 'archive') %}
						        {{ criteria.type }}: {{ criteria.value.year }} {{ getMonth(criteria.value.month)}}
						  	{% endif  %}
						{% endif %}
					</p>

				</h1>
			</div>
			<div class="nwTable col-md-6">
				{% media criteria.value.excerptPhoto, 'excerpt' with {'class': 'nwLogo', 'style':'height:140px;width:190px;'} %}
			</div>
		</div>

		{% for item in pagination %}
			{% if (loop.index0 % 4) == 0 %}
				<div class="row" style="padding-top : 5px; padding-left:0;">
			{% endif %}
				<div class="col-md-3">
					<a class="black" href="{{ path('ed_frontend_blog_by_pilotname', { 'fullName': item.getFullName }) }}">
						<div class="col-md-7" style="background:#479FA1;">
							{% media item.excerptPhoto, 'excerpt' with {'class': 'img--auto d--b img-responsive', 'style':'width:100%; height:150px;'} %}
						</div>
						<div class="col-md-4" style=" height:150px; background-color:#479FA1;">
            				<br>
							<h6 style="text-align:center;color:#FFF !important;"> 
								{{item|capitalize }}
							</h6><br>
							{% media item.countryPhoto, 'excerpt' with {'class': 'img-responsive', 'style':'height:40px; margin:0 20px 0 0; width:90%;'} %}
							
							<h6 style=" text-align:center;color:#0b4242 !important;">
								{{item.getTeam|capitalize }}
							</h6>
						</div>
					</a>
				</div>
			{% if loop.index % 4  == 0 or loop.revindex == 1%}
				</div>
			{% endif %}
		{% endfor %}
    {% endblock container %}
{% endblock main %}
