{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
	{{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
		<div class="col-md-12" style="padding-top : 5px;">
			<article id="main-content" style="position: relative;">
				<div class="">
					<h1 style="font-family:'Black Ops One'; font-size:2.7em; float:left; margin-top:40px; padding:50px auto;">Resultat
						 {% if pagination | length == 1 %}
						 		{{ pagination[0] }}
						 {% endif %}
					</h1>
					{% if  pagination|length < 1 %}
						<h1>Cette Catégorie n'a pa d'evenement</h1>
					{% elseif  pagination|length > 1 %}
						{% for item in pagination %}
							<a href="{{ path('ed_blog_classement', {'categorySlug': item.getCategory().term.slug, 'eventName': item.getName}) }}">
						 		{% media item.excerptPhoto, 'excerpt' with { 'class':'nwLogo', 'style':'height:140px;width:190px;' } %}
						 	</a>
					 	{% endfor %}
					{% else %}
						{%set item=pagination[0]%}
						{% media item.excerptPhoto, 'excerpt' with { 'class':'nwLogo', 'style':'height:140px;width:190px;'} %}
		                {% for gp in item.getChildren %}
		                
		                	{% if (loop.index0 % 4) == 0 %}
					             <div class="col-md-12" style="padding-top : 5px;">
					        {% endif %}
					            <div class="col-md-3" style="margin-bottom:1.5em;  padding: 0 !important;">
					                <a style="color:#FFF !important; background:#0b4242; width:95%;" class="black" href="{{ path('ed_blog_resultat', {'categorySlug': item.getCategory.term.slug, 'eventName': gp.getName}) }}">
					                    	<br>
					                    	<h2 style="margin-bottom:2em; color:#FFF !important; text-align:center;">
					                            {{ gp }}
					                        </h2>
					                        {% media gp.excerptPhoto, 'excerpt' with {'class': 'img-responsive ', 'style':'height:140px; border:2px solid #0b4242;'} %}
					                    					                </a>

					            </div>
					        {% if loop.index % 4  == 0 or loop.revindex == 1%}
					            </div>
					        {% endif %}
				               
				        {% endfor %}
					{% endif %}
				</div>
			</article><!-- main-content -->
		</div>
    {% endblock container %}
{% endblock main %}
