{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
	{{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}

    	<div class="col-md-12" style="padding-top : 5px;">
			<div class="nwTable col-md-6">					
				<h1>
					<p>Ecuries 
						{% if (criteria is defined) %}
						    {% if (criteria.type == 'category') %}
						        {%  set categories = categoriesFromFirstLevel(criteria.value)  %}
						        {{ criteria.value.Term.title}}
						    {% elseif (criteria.type == 'tag') %}
						        {{ criteria.type }}: {{ criteria.value.Term.title}}
						    {% elseif (criteria.type == 'author') %}
						        {{ criteria.type }}: {{ criteria.value.blogDisplayName}}
						    {% elseif (criteria.type == 'archive') %}
						        {{ criteria.type }}: {{ criteria.value.year }} {{ getMonth(criteria.value.month)}}
						  	{% endif  %}
						{% endif %}
					</p>

				</h1>
			</div>
			<div class="nwTable col-md-6">
				{% media criteria.value.excerptPhoto, 'excerpt' with {'class': 'nwLogo', 'style':'height:140px;width:190px;'} %}
			</div>
		</div>

		{% for item in pagination %}
			{% if (loop.index0 % 4) == 0 %}
				<div class="col-md-12" style="padding-top : 5px;">
			{% endif %}
			<div class="col-md-3">
				<div class="thumb">
					{% media item.excerptPhoto, 'excerpt' with {'class': 'centered img--auto d--b', 'style':'height:140px;width:190px;'} %}
				</div>
				<h6 style=" text-align:center;color:black;"> {{item|capitalize }}</h6>
				{% for pilot in item.getPilots %}
					<h6 style=" text-align:center;color:black;">
						<a class="black" href="{{ path('ed_frontend_blog_by_pilotname', { 'fullName': pilot.getFullName }) }}">
							{{pilot|capitalize }}
						</a>
					</h6>
				{% endfor %}
			</div>
			
			{% if loop.index % 4  == 0 or loop.revindex == 1%}
				</div>
			{% endif %}
		{% endfor %}
    {% endblock container %}
{% endblock main %}
